
<h1>Dashboard</h1>




<div class="page-wrappers bg-wrapper">
    <div class="contents">
        <div class="row">
            <!---<div class="col-lg-6 col-sm-12">One</div>
            <div class="col-lg-6 col-sm-12">Two</div>-->
            <div class="col-sm-12">
            <h4 class="page-title">Blank Page</h4>
            <!--<div >
                <div class="card-box">

                    <button class="btn btn-dark">Hey</button>
                 <div class="card">
                    <div class="card-header">
                        <div class=" card-title"> ipsum - dashboard</div>
                    </div>
                    <div class="card-body">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
                    </div>
                  </div>  
                </div>
            </div>-->
            </div>
        </div>
    </div>

   
</div>